
@{
    ViewBag.Title = "GitHub";
}

<h2>GitHub</h2>
<P>According to the : GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 40 million developers.home page</P>
<br />
<a href="https://github.com/">GitHub</a> can be reached here.