
@{
    ViewBag.Title = "GitHub";
}

<h2>GitHub</h2>
GitHub can be found at <a href="github.com">github.com</a>
                       <p>
                           According to the home page,
                           </p>
                           <h3>
                               Built for developers
                           </h3>
                           <p>GitHub is a development platform
                           inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 40 million developers.
                       </p>

