
@{
    ViewBag.Title = "GitHub";
}
    <div class="alert alert-info">
        <h2>GitHub</h2>
        <h3>The savior of class team development projects in the age of pandemic</h3>
    </div>
<a href="https://github.com">Create an account or sign in to GitHub</a>