@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h2>Distributed team development in the age of pandemic </h2>
    <p >A paper developed for the 2020 IACIS Conference in Nashville, TN</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IACIS</h2>
        <h3>Vision</h3>
        The vision of IACIS is to be one of the leading international academic information systems and technology professional organizations.
        <H3>Mission</H3>
        <p>
            IACIS values activities that develop the knowledge and skills of information systems and technology academics, by providing a forum for networking and discussing research ideas and findings, encouraging the sharing of teaching best practices, and supporting the development of high quality curriculum.
        </p>

        <p>
            The International Association for Computer Information Systems (IACIS) is a nonprofit association founded in 1960 and dedicated to the improvement of information systems and the education of information systems and computer professionals. These goals are accomplished through various activities, recognition awards, and publications.
        </p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        @Html.ActionLink("GitHub", "github","home")
    </div>
    <div class="col-md-4">
        <h2>College classes and Pandemic</h2>
        <p>Information about about the state and university response to the pandemic can be found @Html.ActionLink("here","Pandemic", "Home")</p>
    </div>
</div>