@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h2>Distributed team development in the age of pandemic </h2>
    <p >A paper developed for the 2020 IACIS Conference in Nashville, TN</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IACIS</h2>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
    </div>
    <div class="col-md-4">
        <h2>College classes and Pandemic</h2>
        <p>Information about running a senior IS development class in the age of pandemic goes here</p>
    </div>
</div>