
@{
    ViewBag.Title = "Pandemic";
}

<h2>Ohio University Statement Related to the Covid-19 Pandemic</h2>

<p>The most up to date information from the Univeristy can be found <a href="https://www.ohio.edu/coronavirus?utm_source=homepage&utm_medium=covidBanner&utm_campaign=featContentMarquee">here.</a>
    </p>
<p>Current information from the state is <a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/home">here</a></p>
