
@{
    ViewBag.Title = "Pandemic";
}
<div class="alert alert-warning">
    <h2>Pandemic Information Page</h2>

</div>
<a href=https://www.ohio.edu/coronavirus?utm_source=homepage&utm_medium=covidBanner&utm_campaign=featContentMarquee"">Ohio University Coronavirus Response</a>
<br />
<a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/home">State of Ohio Information</a>
<br />

<a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC Information</a>