
@{
    ViewBag.Title = "Pandemic";
}

<h2>Pandemic</h2>

<a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/home">State of Oio Covid-19 information</a>
<br />
<a href="https://www.ohio.edu/coronavirus?utm_source=homepage&utm_medium=covidBanner&utm_campaign=featContentMarquee">Ohio University Covid-19 Response Page</a>